/* rgb(10, 33, 64) */
body {
  width: 100%;
  position: relative;
  font-family: 'Fjalla One', sans-serif; }

a {
  color: #0A2140; }

.affix {
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: white; }

header {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 20px; }
  header img {
    width: 130px;
    margin: 15px; }
  header h2 {
    margin: 0px; }
  header h5 {
    margin: 0px;
    padding: 0px; }
  header .name {
    display: inline-block; }
  header p {
    font-size: 13px;
    margin: 0px; }
  header a {
    cursor: pointer; }
  header .active {
    background-color: #0A2140;
    color: white; }

/* banner section */
.banner {
  background: linear-gradient(rgba(10, 33, 64, 0.8), rgba(10, 33, 64, 0.8)), url(../images/blueridge.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px; }
  .banner h1 {
    color: white;
    font-size: 30px; }

.downWrap {
  text-align: center;
  margin-top: 100px; }
  .downWrap a {
    font-size: 4em;
    color: white;
    cursor: pointer;
    padding: 5px;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    border: 5px solid transparent;
    border-radius: 100%; }
  .downWrap a:hover {
    border: 5px solid white;
    text-decoration: none; }

@-moz-keyframes animate {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }

@-webkit-keyframes animate {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes animate {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

.animate {
  -moz-animation: animate 2s infinite;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite; }

/* work section */
.mainPic {
  border-radius: 10px;
  border: 3px solid white; }

.container {
  width: 70%; }

.email {
  display: block; }

.headerIcons {
  display: block;
  margin-left: 30px; }
  .headerIcons a {
    font-size: 30px;
    margin: 5px; }

/* work section */
.nav {
  display: inline-block;
  text-align: center;
  float: none;
  position: absolute;
  top: 6px;
  right: 50px; }
  .nav li {
    cursor: pointer; }

.workHeading {
  width: 100%; }

.work {
  height: 700px;
  position: relative; }
  .work .container {
    text-align: center;
    height: 60px; }
  .work h1 {
    text-align: center;
    margin-top: 10px; }
  .work .nav {
    display: inline-block;
    text-align: center;
    float: none;
    position: absolute;
    top: 6px;
    right: 50px; }
    .work .nav li {
      cursor: pointer; }

.row {
  padding: 0px;
  margin: 0px; }

.commish, .sendsay, .stage, .powell {
  height: 335px;
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: hidden; }
  .commish img, .sendsay img, .stage img, .powell img {
    width: 100%;
    height: 335px;
    margin: 0px;
    padding: 0px; }

.commish .textbox {
  background-color: rgba(66, 187, 238, 0.8); }

.sendsay .textbox {
  background-color: rgba(181, 59, 59, 0.8); }

.stage .textbox {
  background-color: rgba(66, 152, 181, 0.8); }

.powell .textbox {
  background-color: rgba(242, 201, 48, 0.8); }

.commish:hover .textbox {
  margin-top: 0; }

.sendsay:hover .textbox {
  margin-top: 0; }

.stage:hover .textbox {
  margin-top: 0; }

.powell:hover .textbox {
  margin-top: 0; }

.textbox {
  text-align: center;
  width: 100%;
  height: 335px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -335px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease; }
  .textbox p {
    color: white;
    font-size: 50px; }
  .textbox a {
    text-decoration: none;
    cursor: pointer; }
  .textbox a:hover {
    color: grey; }

.text {
  padding-top: 125px;
  color: white;
  font-size: 50px; }

.modal-dialog {
  width: 100%;
  margin: 0px;
  padding: 0px; }

.modal-content {
  border-radius: 0px;
  color: white;
  height: 700px;
  overflow: hidden;
  text-align: center; }
  .modal-content .fa {
    float: left;
    font-size: 2em;
    color: white;
    margin: 20px 10px; }
  .modal-content .fa:hover {
    color: grey;
    text-decoration: none; }
  .modal-content img {
    padding: 0px;
    height: 349px; }
  .modal-content h1 {
    text-align: center;
    font-size: 4em;
    margin: 0px;
    padding: 130px 0px 0px 0px; }
  .modal-content .modalLink p {
    font-size: 2.5em;
    display: inline-block;
    padding: 0px 10px; }
  .modal-content .modalLink .fa {
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
    float: none; }

.commishModal .modal-content {
  background-color: #42bbee; }

.sendsayModal .modal-content {
  background-color: #b53b3b; }

.stageModal .modal-content {
  background-color: #4298b5; }

.powellModal .modal-content {
  background-color: #f2c930; }

/* about section  */
.panel-group .panel + .panel {
  margin: 0px; }

.bioText {
  text-align: left;
  padding-bottom: 30px; }
  .bioText .contactMe {
    text-align: center; }
  .bioText a {
    color: #6DAFFF;
    text-align: center;
    font-size: 1.5em; }
  .bioText p {
    color: white;
    font-size: 1.5em; }
  .bioText .quote {
    color: white; }

.aboutMe {
  height: 745px; }
  .aboutMe .row {
    padding: 20px; }
  .aboutMe .aboutHeading {
    height: 60px; }
  .aboutMe .profPic {
    width: 150px;
    border: 5px solid white;
    border-radius: 100%;
    text-align: center; }
  .aboutMe .bio {
    background-color: #0A2140;
    padding-top: 15px;
    text-align: center;
    border-bottom: 5px solid white; }
  .aboutMe h1 {
    text-align: center;
    margin: 0px;
    padding: 12px; }
  .aboutMe .panel-group {
    background-color: #0A2140; }
  .aboutMe .row {
    margin: 0px; }
  .aboutMe .panel {
    padding: 0px;
    background-color: white;
    border: transparent;
    border-radius: 0px; }
  .aboutMe .panel-heading {
    border-radius: 0px;
    text-align: center;
    background-color: #0A2140;
    border-bottom: transparent;
    padding: 0px; }
  .aboutMe .panel-body {
    border: transparent;
    background-color: white;
    border: none;
    color: black;
    text-align: center; }
    .aboutMe .panel-body ul {
      margin: 0px;
      padding: 0px; }
    .aboutMe .panel-body li {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
  .aboutMe .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0px; }

.skillsMain {
  padding: 0px; }

.panel-title a {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: white;
  margin-top: 5px;
  padding: 10px; }
.panel-title .fa {
  display: block;
  font-size: 8em;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px; }
.panel-title .fa-suitcase {
  color: #61422A; }
.panel-title .fa-university {
  color: #FFFABF; }
.panel-title .fa-trophy {
  color: #ffc242; }
.panel-title .fa-child {
  color: #FF312A; }

/* contact section */
.contact {
  height: 240px;
  text-align: center; }
  .contact a {
    font-size: 2em;
    display: block; }
  .contact .headerIcons {
    margin: 0px; }
    .contact .headerIcons a {
      display: inline-block;
      font-size: 3em; }

/* Responsive section */
@media screen and (max-width: 768px) {
  .container {
    width: 100%; }
  .workHeading .nav {
    display: none; }
  .nav {
    display: none; }
  .downWrap a {
    border: 5px solid white; }
  .textbox {
    margin-top: 0px; }
    .textbox .text {
      padding-top: 60px; }
  .commish, .sendsay, .stage, .powell {
    height: 160px; }
    .commish img, .sendsay img, .stage img, .powell img {
      height: 160px; }
  .modal-content img {
    width: 200px;
    height: 100px; } }

.resumeContainer {
  text-align: center;
  background-color: #0A2140;
  padding: 20px; }
  .resumeContainer a {
    border: 2px solid white;
    padding: 10px;
    color: white; }

@media screen and (max-width: 620px) {
  .banner {
    background: #0A2140; }
    .banner h1 {
      font-size: 20px; } }

@media screen and (max-width: 450px) {
  .modal-content h3 {
    font-size: 15px; } }
